.un {
margin-left: 215px;
}

.deux {
margin-left: 115px;
}

.trois {
  margin-left: 15px;
}

img {
  width: 70px;
  height: 70px; 
}
.menu-aloys {
  position: absolute;
}
.menu-aloys2 {
  position: absolute;
}

.premier {
  margin-right: 215px;
  }
  
.deuxieme {
margin-right: 115px;
  }
  
.troisieme {
  margin-right: 15px;
  }